<div class="container" style="margin-bottom: 0%; margin-top: 0px; padding: 1%;">
    <h2 style="text-align: center; border-bottom: #DC143C 1px solid;">VỀ BEA WEDDING</h2>
    <br>
    <p>
        Gần 20 năm chăm chút những lễ cưới - lễ đính hôn - lễ vu quy hay những bữa tiệc vui vẻ, hạnh phúc cho hàng ngàn
        cặp đôi tại An Giang cũng như các tỉnh lân cận, Dịch vụ cưới hỏi trọn gói Bea Wedding nhận thức được sứ mệnh vô
        cùng to lớn của mình là người mang đến khởi đầu hạnh phúc cho mỗi cặp đôi cô dâu chú rể.
    </p>
    <p>
        Lần đầu còn bỡ ngỡ với cặp đôi, nhưng nó phải thật hoàn hảo. Vì lẽ đó, với cam kết mạnh mẽ từ đội ngũ tâm huyết,
        giàu kinh nghiệm, chúng tôi nguyện sẽ đem hết sức mình mang tới khởi đầu viên mãn cho mỗi cặp đôi.
    </p>
    <p style="text-align: center;"><strong>Các bạn chỉ cần Hạnh Phúc - đám cưới Long Lanh cứ để Bea Wedding lo!</strong>
    </p>
    <p>
    <h5>CÁC DỊCH VỤ CƯỚI HỎI TRỌN GÓI BEA WEDDING CUNG CẤP</h5>
    Dịch vụ cưới hỏi trọn gói tại An Giang là đơn vị hàng đầu trong lĩnh vực trang trí và tổ chức sự kiện cưới hỏi tại
    An
    Giang, cung cấp đa dạng các dịch vụ trọn gói như:
    </p>
    <p>
    <ul>
        <li>Tráp lễ dạm ngõ, lễ ăn hỏi, lễ đón dâu theo truyền thống. </li>
        <li>Dịch vụ trang trí tiệc cưới tại nhà, ngày ăn hỏi và ngày đón dâu.</li>
        <li>Dịch vụ trang trí hoa xe cưới.</li>
        <li>Dịch vụ thuê khung rạp, bàn tiệc, cổng, và các phụ kiện ngày cưới.</li>
        <li>Dịch vụ trang trí và cho thuê bàn gian tiên, backdrop, bàn gallery.</li>
        <li>Ngoài ra chúng tôi còn cung cấp các dịch vụ tổ chức sự kiện, hội nghị, hội thảo, dịch vụ tổ chức sinh nhật,
            dịch vụ decor trang trí cửa hàng, shop, trung tâm thương mại, trang trí các ngày lễ hội.</li>
    </ul>
    </p>
    ​<p>
    <h5>Lý Do Lựa Chọn BEA Wedding</h5>
    Bea Wedding với gần 20 năm cống hiến và xây dựng thương hiệu, tự hào là một trong những địa chỉ hàng đầu tại
    An Giang hoạt động trong lĩnh vực tư vấn và tổ chức cưới hỏi trọn gói. Mục tiêu lớn nhất mà Bea Wedding hướng đến là
    trở thành một nhà cung cấp dịch vụ cưới hỏi đầy đủ và toàn diện nhất cho mọi khách hàng của chúng tôi.
    <br>
    Khi các cặp đôi tin tưởng và lựa chọn tổ chức tiệc cưới trọn gói tại Bea Wedding, chúng tôi cam kết sẽ mang
    đến cho khách hàng một đám cưới trong mơ, hoàn hảo nhất, tuyệt vời nhất đến từng chi tiết nhỏ nhất.
    <br>
    Thiết kế độc đáo: Bea Wedding luôn luôn cập nhật và dẫn dắt xu hướng bằng những thiết kế mới lạ, được đặt hàng riêng
    và
    các gói
    dịch vụ cưới hỏi trọn gói được cá nhân hóa theo yêu cầu
    <br>
    Dịch vụ chuyên nghiệp, chuyên viên linh hoạt, sáng tạo: Chúng tôi luôn lắng nghe và thấu hiểu để có thể đáp ứng tối
    đa
    những yêu cầu chi tiết và những thay đổi đột xuất trong quá trình thực hiện của khách hàng
    <br>
    Chi phí hợp lý: Với tất cả những ưu thế về thiết kế và thi công, điều khiến chúng tôi vượt trội còn là một mức giá
    hợp
    lý rất cạnh tranh và nhiều gói trang trí linh hoạt
    <br>
    <strong><i>Sự hài lòng của khách hàng làm thước đo cho sự phát triển của Bea Wedding!</i></strong>
    </p>
</div>