<div class="container">
    <div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62786.303769497914!2d105.43568327154885!3d10.410136928029921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a72e8390439df%3A0x4f6adc446017b845!2zODggVHLhuqduIEjGsG5nIMSQ4bqhbywgUC4gTeG7uSBCw6xuaCwgVGjDoG5oIHBo4buRIExvbmcgWHV5w6puLCBBbiBHaWFuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1618988858483!5m2!1svi!2s"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <h4 style="color: red;">LIÊN HỆ</h4>
            <UL>
                <LI>Đại chỉ: Số 88 Trần Hưng Đạo,P.Mỹ Bình, TP.Long Xuyên, An Giang</LI>
                <li>Số điện thoại: <a class="aa" href="tel: 0961542888" target="_self">0961.542.888</a> - <a class="aa"
                        href="tel: 0934399622" target="_self">0934.399.622</a></li>
                <li>Email: <a class="aa" href="mailto: bea123@gmail.com" target="_self"> bea123@gmail.com </a> </li>
            </UL>
        </div>
        <div class="col-sm-6 col-lg-6">
            <h4 style="color: red;">THỜI GIAN MỞ CỬA</h4>
            <ul>
                <li>Thứ hai – Thứ bảy: 08h00 – 21h00</li>
                <li>Chủ nhật: 08h00 – 16h00</li>
                <li>Nếu quý khách cần giao dịch ngoài giờ vui lòng gọi trước</li>
            </ul>
        </div>
        <div class="col-sm-4 col-lg-4"></div>
        <div class="col-sm-4 col-lg-4">
            <table>
                <tr>
                    <th colspan="2">
                        <h4 style="color: red;">HOTLINE</h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a href="tel: 0961 542 888 " target="_self" class="btn btn-outline-danger">
                            <img src="../../img/call.gif" alt="call" width="35px" height="37px">
                            <span>0961 542 888</span>
                        </a>
                    </th>
                    <th><a href="tel: 0934 399 622 " target="_self" class="btn btn-outline-danger">
                            <img src="../../img/call.gif" alt="call" width="35px" height="37px">
                            <span>0934 399 622</span>
                        </a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>

<style>
    .btn {
        display: block;
    }

    .aa {
        font-weight: normal;
        color: black;
    }
</style>